* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: rgb(218, 221, 224);
}

nav {
  height: 50px;
  width: 100%;
  background-color: rgb(111, 163, 165);
  /* position: fixed; */
  z-index: 50;
  display: flex;
  align-items: center;
}

.burger-btn {
  height: 25px;
  width: 25px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.burger-btn:hover span{
  background-color: rgb(228, 61, 61);
  transition: all 1s;
}

.burger-btn:before,
.burger-btn span,
.burger-btn:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: rgb(76, 76, 76);
  transition: transform 0.3s ease;
}

.burger-btn:before {
  top: 0;
}

.burger-btn span {
  top: 11px;
}

.burger-btn:after {
  bottom: 0;
}

/* Добавленный стиль для активации анимации */
.burger-btn.active:before {
  transform: translateY(11px) rotate(45deg);
}

.burger-btn.active span {
  opacity: 0;
}

.burger-btn.active:after {
  transform: translateY(-11px) rotate(-45deg);
}

