
  
  .grid-content {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    gap: 16px;
    margin: 0 auto;
  }
  
  .column {
    padding: 10px;
    display: grid;
    place-items: center;
    background-color: rgb(81, 111, 153);
    border-radius: 25px;
  }

  .icon_cover{
    display: grid;
    place-items: center;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 25px;
  }
  .icon_cover img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
  }
  
  .column h4 {
    text-align: center;
    color: white;
  }
  .column a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(192, 222, 248);
  }
  .column:hover a {
    color: rgba(245, 137, 238, 0.994);
  }
  
  .column:hover {
    background-color: rgba(109, 109, 206, 0.365);
    box-shadow: 0 0 50px rgb(255, 255, 255);
    transition: all 0.3s;
  }
 
  .column:hover .icon_cover {
    /* background-color: #cb6c6c;  */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
 
  
  @media screen and (max-width: 768px){
    
    .hide-mobile {
      display: none;
    }

    .grid-content{
      grid-template-columns: 1fr 1fr ;
    }
  }