@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: 2rem; */
    font-style: normal;
}

body {
    background-image: url("./icons/bcg.jpg");
    /* background: linear-gradient(to bottom, #1e3c72, #2a5298, #1571bd), url("./icons/bcg.jpg"); */
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(218, 221, 224);
}
